@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GRID INDEX*/
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px auto 80px;
  grid-template-areas: "navBar navBar" "main main"  "footer footer"; }
  .grid-container .grid-navBar {
    grid-area: navBar; }
  .grid-container .grid-main {
    grid-area: main; }
  .grid-container .grid-footer {
    grid-area: footer; }

.grid-navBar nav ul li {
  padding: 10px 10px; }
  .grid-navBar nav ul li a {
    font-size: medium; }

/*título contacto*/
/*----- Header -----*/
header {
  background-color: #14ab88;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  font-family: 'IBM Plex Sans', sans-serif; }

header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 5px; }

header nav ul li a {
  text-decoration: none;
  color: white; }

nav .menu-btn i {
  color: white;
  font-size: 22px;
  margin-right: 30px;
  display: none; }

#click {
  display: none; }

/*INDEX*/
.grid-container {
  background-image: url(../img/Body/fondo-index.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .grid-container .grid-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo logo logo" "destacado destacado destacado" "video video video"; }
    .grid-container .grid-main .logo-meraki {
      grid-area: logo; }
      .grid-container .grid-main .logo-meraki img {
        width: 100%; }
    .grid-container .grid-main .destacado {
      grid-area: destacado;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      margin-bottom: 5%;
      padding-top: 50px;
      padding-bottom: 60px;
      background-color: #ffffff;
      opacity: 0.8; }
      .grid-container .grid-main .destacado .foto-destacada {
        padding: 50px 50px 50px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        .grid-container .grid-main .destacado .foto-destacada img {
          padding: 0 20px 0 20px; }
      .grid-container .grid-main .destacado .texto-destacado {
        align-items: center;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: bold;
        font-size: large;
        text-align: center;
        padding-top: 10px;
        color: #14ab88; }
        .grid-container .grid-main .destacado .texto-destacado p {
          width: 140%;
          text-align: justify;
          padding-top: 10px;
          margin-left: 30px;
          color: black; }
          .grid-container .grid-main .destacado .texto-destacado p span {
            font-style: italic;
            color: #f76331; }
        .grid-container .grid-main .destacado .texto-destacado h3 {
          text-align: center;
          padding-top: 20px;
          color: #f76331;
          font-size: medium;
          font-weight: bold; }
    .grid-container .grid-main .pinterest {
      grid-area: video;
      display: flex;
      flex-direction: column; }
      .grid-container .grid-main .pinterest .titulo-pint {
        margin-left: 33%;
        padding: 10px 10px 10px 55px;
        width: 35%;
        height: 30%;
        background: #40e0d0;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: 0.8; }
      .grid-container .grid-main .pinterest .video-index {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 30px; }

/*NOSOTROS*/
.container-nosotros {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px auto auto 80px;
  grid-template-areas: "navBar navBar navBar" "main main main" "main main main" "footer footer footer";
  background-image: url(../img/Body/fondo-nos4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .container-nosotros .navBar {
    grid-area: navBar; }
    .container-nosotros .navBar nav ul li {
      padding: 10px 10px; }
      .container-nosotros .navBar nav ul li a {
        font-size: medium; }
  .container-nosotros .main-grid-dos {
    grid-area: main;
    font-family: 'IBM Plex Sans', sans-serif; }
    .container-nosotros .main-grid-dos .storytelling {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin-top: 40px;
      margin-left: 10%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      padding-bottom: 40px;
      background-color: #ffffff;
      opacity: 0.8; }
      .container-nosotros .main-grid-dos .storytelling h1 {
        color: #3d1320;
        padding-bottom: 10px;
        font-size: 500; }
      .container-nosotros .main-grid-dos .storytelling p {
        text-align: justify;
        color: #5f1c30;
        font-size: 400; }
    .container-nosotros .main-grid-dos .nosotros-titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin-top: 40px;
      margin-left: 10%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      padding-bottom: 40px;
      background-color: #ffffff;
      opacity: 0.8; }
      .container-nosotros .main-grid-dos .nosotros-titulo h2 {
        color: #3d1320;
        padding-bottom: 10px; }
      .container-nosotros .main-grid-dos .nosotros-titulo p {
        text-align: justify;
        color: #5f1c30; }
    .container-nosotros .main-grid-dos .nosotros-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      .container-nosotros .main-grid-dos .nosotros-img p {
        text-align: justify;
        margin-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 25%; }
      .container-nosotros .main-grid-dos .nosotros-img .nosotros-img1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 40px 0px 20px 0;
        padding: 30px 0px 20px 0;
        background-color: #ffffff;
        opacity: 0.8; }
      .container-nosotros .main-grid-dos .nosotros-img .nosotros-img2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0px 20px 0;
        padding: 30px 0px 20px 0;
        background-color: #ffffff;
        opacity: 0.8; }
  .container-nosotros .footer-grid-dos {
    grid-area: footer; }

/*GALERIA*/
.container-galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px auto auto auto auto auto auto 80px;
  grid-template-areas: "navBar navBar navBar" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "footer footer footer";
  background-image: url(../img/Body/Background-galeria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .container-galeria .navBar-gal {
    grid-area: navBar; }
    .container-galeria .navBar-gal nav ul li {
      padding: 10px 10px; }
      .container-galeria .navBar-gal nav ul li a {
        font-size: medium; }
  .container-galeria .main-grid-tres {
    grid-area: main; }
    .container-galeria .main-grid-tres .titulo-galeria {
      color: #8f1d17;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px; }
    .container-galeria .main-grid-tres .img-galeria {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 310px;
      gap: 10px; }
      .container-galeria .main-grid-tres .img-galeria .img-2 {
        grid-row: span 2; }
      .container-galeria .main-grid-tres .img-galeria .img-4 {
        grid-row: span 2; }
      .container-galeria .main-grid-tres .img-galeria .img-7 {
        grid-row: span 2; }
      .container-galeria .main-grid-tres .img-galeria .img-11 {
        grid-row: span 2; }
      .container-galeria .main-grid-tres .img-galeria div img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .container-galeria .footer-grid-tres {
    grid-area: footer; }

/*SERVICIOS*/
.container-servicios {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px auto auto auto auto 80px;
  grid-template-areas: "navBar navBar navBar" "main main main" "main main main" "main main main" "main main main" "footer footer footer";
  background-image: url(../img/Body/banana.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right; }
  .container-servicios .navBar-serv {
    grid-area: navBar; }
    .container-servicios .navBar-serv nav ul li {
      padding: 10px 10px; }
      .container-servicios .navBar-serv nav ul li a {
        font-size: medium; }
  .container-servicios .main-grid-cuatro {
    grid-area: main; }
    .container-servicios .main-grid-cuatro .servicios {
      display: flex;
      flex-direction: column;
      text-align: justify;
      color: #147566;
      width: 58%;
      font-family: 'IBM Plex Sans', sans-serif; }
      .container-servicios .main-grid-cuatro .servicios h2 {
        color: #147566;
        text-align: center;
        padding-top: 30px;
        padding-left: 10px; }
      .container-servicios .main-grid-cuatro .servicios .area-servicios1 {
        margin-top: 30px;
        display: flex;
        flex-wrap: nowrap;
        width: 110%; }
        .container-servicios .main-grid-cuatro .servicios .area-servicios1 div {
          background: #A1FFCE;
          background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);
          /*Chrome10-25,Safari5.1-6*/
          background: linear-gradient(to left, #FAFFD1, #A1FFCE);
          /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 60%;
          margin-left: 15px;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 30px;
          padding-bottom: 30px;
          border-radius: 15px; }
          .container-servicios .main-grid-cuatro .servicios .area-servicios1 div p {
            text-align: center; }
      .container-servicios .main-grid-cuatro .servicios .area-servicios2 {
        margin-top: 30px;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 10%;
        width: 110%; }
        .container-servicios .main-grid-cuatro .servicios .area-servicios2 div {
          background: #A1FFCE;
          background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, #FAFFD1, #A1FFCE);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          margin-left: 15px;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 30px;
          padding-bottom: 30px;
          border-radius: 15px; }
          .container-servicios .main-grid-cuatro .servicios .area-servicios2 div p {
            text-align: center; }
    .container-servicios .main-grid-cuatro .video-serv {
      width: 55%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
  .container-servicios .footer-grid-cuatro {
    grid-area: footer; }

/*CONTACTO*/
.container-contacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px auto auto 80px;
  grid-template-areas: "navBar navBar navBar" "main main main" "main main main" "footer footer footer";
  background-image: url(../img/Body/fondo-index.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .container-contacto .navBar-cont {
    grid-area: navBar; }
    .container-contacto .navBar-cont nav ul li {
      padding: 10px 10px; }
      .container-contacto .navBar-cont nav ul li a {
        font-size: medium; }
  .container-contacto .container-main {
    grid-area: main;
    font-family: 'IBM Plex Sans', sans-serif; }
    .container-contacto .container-main .main-titulo {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 20%;
      color: #722039;
      width: 50%;
      display: flex;
      justify-content: start;
      margin-top: 20px;
      margin-left: 20px;
      font-weight: bold; }
    .container-contacto .container-main .seccion-info {
      display: flex;
      justify-content: center; }
      .container-contacto .container-main .seccion-info .grid-form {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "nombre" "telefono" "mail" "noticias" "seleccionar" "mensaje"; }
        .container-contacto .container-main .seccion-info .grid-form .form {
          width: 120%;
          height: 108%;
          background-color: #c9ece4;
          border-radius: 20px;
          opacity: 0.8; }
          .container-contacto .container-main .seccion-info .grid-form .form .cto-nombre {
            grid-area: nombre;
            display: flex;
            justify-content: left;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40px; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-nombre input {
              width: 77%; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-nombre label {
              margin-right: 10px;
              color: #14ab88; }
          .container-contacto .container-main .seccion-info .grid-form .form .cto-telefono {
            grid-area: telefono;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40px; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-telefono input {
              width: 77%; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-telefono label {
              margin-right: 10px;
              color: #14ab88; }
          .container-contacto .container-main .seccion-info .grid-form .form .cto-mail {
            grid-area: mail;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40px; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-mail input {
              width: 77%; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-mail label {
              margin-right: 10px;
              color: #14ab88; }
          .container-contacto .container-main .seccion-info .grid-form .form .cto-noticias {
            grid-area: noticias;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40px; }
          .container-contacto .container-main .seccion-info .grid-form .form .cto-seleccionar {
            grid-area: seleccionar;
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40px; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-seleccionar h4 {
              color: #14ab88;
              margin-right: 10px; }
            .container-contacto .container-main .seccion-info .grid-form .form .cto-seleccionar .seleccionar {
              height: 30px;
              color: #074436;
              font-weight: bold;
              background: #75c4b1;
              /*fallbackforoldbrowsers*/
              background: -webkit-linear-gradient(to right, #75c4b1, #14ab88);
              /*Chrome10-25,Safari5.1-6*/
              background: linear-gradient(to right, #75c4b1, #14ab88);
              /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/ }
          .container-contacto .container-main .seccion-info .grid-form .form .cto-mensaje {
            grid-area: mensaje;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40px; }
          .container-contacto .container-main .seccion-info .grid-form .form .btn-custome {
            width: 70px;
            height: 40px;
            margin-left: 40px;
            color: #074436;
            font-weight: bold;
            background: #75c4b1;
            /*fallbackforoldbrowsers*/
            background: -webkit-linear-gradient(to right, #75c4b1, #14ab88);
            /*Chrome10-25,Safari5.1-6*/
            background: linear-gradient(to right, #75c4b1, #14ab88);
            /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/ }
    .container-contacto .container-main .portfolio {
      margin-top: 70px;
      width: 80%;
      display: flex;
      margin-left: 10%;
      background: #14ab88;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #14ab88, #efd61a);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #14ab88, #efd61a);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      opacity: 0.9; }
      .container-contacto .container-main .portfolio h3 {
        padding-left: 25%;
        padding-top: 15px; }
      .container-contacto .container-main .portfolio a {
        padding-left: 5%;
        padding-top: 15px;
        padding-bottom: 10px; }
  .container-contacto .footer-grid-cinco {
    grid-area: footer; }

/*----- Footer -----*/
footer {
  background-color: #efd61a;
  margin-top: auto;
  display: flex;
  flex-direction: column; }
  footer div h4 {
    margin-left: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large; }
  footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }

/*--- MEDIA QUERY---*/
@media screen and (max-width: 1300px) {
  /*Nosotros*/
  .nosotros-img .nosotros-img1 {
    width: 80%;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; }
    .nosotros-img .nosotros-img1 .img-1 {
      display: flex;
      align-items: center; }
    .nosotros-img .nosotros-img1 .img-2 {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 30px;
      align-items: center; }
    .nosotros-img .nosotros-img1 .img-3 {
      display: flex;
      align-items: center; }
  .nosotros-img .nosotros-img2 {
    width: 80%;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; }
    .nosotros-img .nosotros-img2 .img-4 {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 30px;
      align-items: center; }
    .nosotros-img .nosotros-img2 .img-5 {
      display: flex;
      align-items: center; }
    .nosotros-img .nosotros-img2 .img-6 {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 30px;
      align-items: center; } }

@media screen and (max-width: 1032px) {
  /*Index*/
  .video-index iframe {
    padding-bottom: 30px; } }

@media screen and (max-width: 1000px) {
  /*Servicios*/
  .servicios {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 940px) {
  /*Header*/
  nav .menu-btn i {
    display: block; }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d"; }
  nav ul {
    position: fixed;
    left: -100%;
    top: 50px;
    background: #14ab88;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  #click:checked ~ ul {
    left: 0%;
    transition: all 0.3s ease; }
  nav ul li {
    margin: 20px 0; }
  nav ul li a {
    display: block; } }

@media screen and (max-width: 900px) {
  /*Index*/
  .grid-main .destacado .foto-destacada img {
    width: 300px;
    height: 235px; }
  .grid-main .texto-destacado {
    width: 70%; } }

@media screen and (max-width: 800px) {
  /*Index*/
  .grid-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo" "destacado" "video"; }
    .grid-main .logo-meraki {
      grid-area: logo; }
    .grid-main .destacado {
      grid-area: destacado; }
    .grid-main .video-index {
      grid-area: video; } }

@media screen and (max-width: 680px) {
  /*Index*/
  .video-index iframe {
    padding-bottom: 30px; } }

@media screen and (max-width: 650px) {
  /*Nosotros*/
  .nosotros-img .nosotros-img1 {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .nosotros-img .nosotros-img1 .img-1 {
      width: 40%;
      height: 60%;
      flex-direction: column; }
      .nosotros-img .nosotros-img1 .img-1 img {
        width: 230px;
        height: 270px; }
    .nosotros-img .nosotros-img1 .img-2 {
      width: 40%;
      height: 60%;
      flex-direction: column; }
      .nosotros-img .nosotros-img1 .img-2 img {
        width: 230px;
        height: 270px; }
    .nosotros-img .nosotros-img1 .img-3 {
      width: 40%;
      height: 60%;
      flex-direction: column; }
      .nosotros-img .nosotros-img1 .img-3 img {
        width: 230px;
        height: 270px; }
  .nosotros-img .nosotros-img2 {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .nosotros-img .nosotros-img2 .img-4 {
      width: 45%;
      height: 60%;
      flex-direction: column; }
      .nosotros-img .nosotros-img2 .img-4 img {
        width: 230px;
        height: 270px; }
    .nosotros-img .nosotros-img2 .img-5 {
      width: 45%;
      height: 60%;
      flex-direction: column; }
      .nosotros-img .nosotros-img2 .img-5 img {
        width: 230px;
        height: 270px; }
    .nosotros-img .nosotros-img2 .img-6 {
      width: 45%;
      height: 60%;
      flex-direction: column; }
      .nosotros-img .nosotros-img2 .img-6 img {
        width: 230px;
        height: 270px; }
  /*Galería*/
  .container-galeria .main-grid-tres .img-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; } }

@media screen and (max-width: 550px) {
  /*Index*/
  .destacado {
    width: 100%; }
    .destacado p {
      justify-content: stretch;
      width: 50%; }
  /*Nosotros*/
  .nosotros-img .nosotros-img1 {
    flex-direction: column;
    align-items: center; }
  .nosotros-img .nosotros-img2 {
    flex-direction: column;
    align-items: center; }
  /*Servicios*/
  .container-servicios {
    height: 500%; }
    .container-servicios .servicios {
      display: flex;
      flex-direction: column;
      margin-left: 20%; }
      .container-servicios .servicios .area-servicios1 {
        display: flex;
        flex-direction: column; }
        .container-servicios .servicios .area-servicios1 div {
          width: 100%;
          margin-top: 10px; }
      .container-servicios .servicios .area-servicios2 {
        display: flex;
        flex-direction: column; }
        .container-servicios .servicios .area-servicios2 div {
          width: 100%;
          margin-top: 10px; }
      .container-servicios .servicios .video-serv {
        margin-left: 10%; } }

@media screen and (max-width: 480px) {
  /*Servicios*/
  .container-servicios .servicios {
    display: flex;
    flex-direction: column;
    margin-left: 20%; }
    .container-servicios .servicios .area-servicios1 {
      display: flex;
      flex-direction: column; }
      .container-servicios .servicios .area-servicios1 div {
        width: 100%;
        margin-top: 10px; }
    .container-servicios .servicios .area-servicios2 {
      display: flex;
      flex-direction: column; }
      .container-servicios .servicios .area-servicios2 div {
        width: 100%;
        margin-top: 10px; }
  .container-servicios .video-serv {
    display: flex;
    flex-direction: column;
    margin-left: 23%; } }

@media screen and (max-width: 390px) {
  /*Nosotros*/
  .nosotros-img .nosotros-img1 {
    align-content: center; }
    .nosotros-img .nosotros-img1 p {
      margin-right: 0; }
  .nosotros-img .nosotros-img2 {
    align-content: center; }
  /*Galería*/
  .container-servicios .servicios {
    display: flex;
    flex-direction: column;
    margin-left: 10%; }
    .container-servicios .servicios .area-servicios1 {
      margin-bottom: 0;
      display: flex;
      flex-direction: column; }
      .container-servicios .servicios .area-servicios1 div {
        width: 100%;
        margin-top: 10px; }
    .container-servicios .servicios .area-servicios2 {
      margin-top: 0;
      display: flex;
      flex-direction: column; }
      .container-servicios .servicios .area-servicios2 div {
        width: 100%;
        margin-top: 10px; }
  .container-servicios .video-serv {
    display: flex;
    flex-direction: column;
    margin-left: 13%; }
  /*Servicios*/
  .servicios {
    margin-left: 15%; } }
