/*--- MEDIA QUERY---*/

@media screen and (max-width:1300px){

/*Nosotros*/


.nosotros-img{
    .nosotros-img1{
        width: 80%;
        flex-direction: column;
        padding-bottom: 30px;
        background-color: #ffffff;
        opacity: 0.8;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        .img-1{
            display: flex;
            align-items: center;
        }
        .img-2{
            display: flex;
            flex-direction: row-reverse;
            padding-right: 30px;
            align-items: center;
        }
        .img-3{
            display: flex;
            align-items: center;
        }
    }
    .nosotros-img2{
        width: 80%;
        flex-direction: column;
        padding-bottom: 30px;
        background-color: #ffffff;
        opacity: 0.8;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        .img-4{
            display: flex;
            flex-direction: row-reverse;
            padding-right: 30px;
            align-items: center;
        }
        .img-5{
            display: flex;
            align-items: center;
        }
        .img-6{
            display: flex;
            flex-direction: row-reverse;
            padding-right: 30px;
            align-items: center;
        }
    }
}

}

@media screen and (max-width:1032px){

    /*Index*/
    .video-index{
        iframe{
            padding-bottom: 30px;;
        }
    }
    
    }



@media screen and (max-width:1000px){


/*Servicios*/
.servicios{
    display: flex;
    flex-wrap: wrap;
}

}

@media screen and (max-width:900px){

/*Index*/
    
.grid-main{
    .destacado{
        .foto-destacada{
            img{
                width: 300px;
                height: 235px;
            }
        }
    }
    .texto-destacado{
        width: 70%;
    }
}

}

@media screen and (max-width:800px){

/*Index*/
        
.grid-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "logo"
    "destacado"
    "video"
    ;
    .logo-meraki{
        grid-area: logo;
    }
    .destacado{
        grid-area: destacado;
    }
    .video-index{
        grid-area: video;
    }
}

}

@media screen and (max-width:680px){

/*Index*/
.video-index{
    iframe{
        padding-bottom: 30px;;
    }
}

}





@media screen and (max-width:650px){

/*Nosotros*/
.nosotros-img{
    .nosotros-img1{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .img-1{
            width: 40%;
            height: 60%;
            flex-direction: column;
            img{
                width: 230px;
                height: 270px;
            }
        }
        .img-2{
            width: 40%;
            height: 60%;
            flex-direction: column;
            img{
                width: 230px;
                height: 270px;
            }
        }
        .img-3{
            width: 40%;
            height: 60%;
            flex-direction: column;
            img{
                width: 230px;
                height: 270px;
            }
        }
    }
    .nosotros-img2{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .img-4{
            width: 45%;
            height: 60%;
            flex-direction: column;
            img{
                width: 230px;
                height: 270px;
            }
        }
        .img-5{
            width: 45%;
            height: 60%;
            flex-direction: column;
            img{
                width: 230px;
                height: 270px;
            }
        }
        .img-6{
            width: 45%;
            height: 60%;
            flex-direction: column;
            img{
                width: 230px;
                height: 270px;
            }
        }
    }
}

/*Galería*/
.container-galeria{
    .main-grid-tres{
        .img-galeria{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto;

        
        }
    }
}


}

@media screen and (max-width:550px){

header{
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

/*Index*/

.destacado{
    width: 100%;
    p{
        justify-content: stretch;
        width: 50%;
    }
}


/*Nosotros*/    
.nosotros-img{
    .nosotros-img1{
        flex-direction: column;
        align-items: center;
    }
    .nosotros-img2{
        flex-direction: column;
        align-items: center;
    }
}

/*Servicios*/
.container-servicios{
    height: 500%;
    .servicios{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        .area-servicios1{
            display: flex;
            flex-direction: column;
            div{
                width: 100%;
                margin-top: 10px;
            }
        }
        .area-servicios2{
            display: flex;
            flex-direction: column;
            div{
                width: 100%;
                margin-top: 10px;
            }
        }
        .video-serv{
            margin-left: 10%;
        }
    }
}

}


@media screen and (max-width:480px){

/*Servicios*/
.container-servicios{
    .servicios{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        .area-servicios1{
            display: flex;
            flex-direction: column;
            div{
                width: 100%;
                margin-top: 10px;
            }
        }
        .area-servicios2{
            display: flex;
            flex-direction: column;
            div{
                width: 100%;
                margin-top: 10px;
            }
        }
    }
    .video-serv{
        display: flex;
        flex-direction: column;
        margin-left: 23%;
    }
}

}




@media screen and (max-width:390px){

header{
    display: flex;
    flex-direction: column;
    nav{
        ul{
            text-align: center;
        }
    }
}


/*Nosotros*/

.nosotros-img{
    .nosotros-img1{
        align-content: center;
        p{
            margin-right: 0;
        }
    }
    .nosotros-img2{
        align-content: center;
    }
}

/*Servicios*/
.servicios{
    margin-left: 15%;

}

}

@media screen and (max-width:390px){

/*Galería*/
.container-servicios{
    .servicios{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        .area-servicios1{
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            div{
                width: 100%;
                margin-top: 10px;
            }
        }
        .area-servicios2{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            div{
                width: 100%;
                margin-top: 10px;
            }
        }
    }
    .video-serv{
        display: flex;
        flex-direction: column;
        margin-left: 13%;
    }
}

}



