/*----- Footer -----*/
footer {
    background-color: #efd61a;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    div{
        h4{
            margin-left: 5px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: large;
        }
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}



