/*INDEX*/

.grid-container{
    .nav-index{
        margin-top: 3%;
    }
    background-image: url(../img/Body/fondo-index.jpg);
    @include background (center,no-repeat,scroll,cover);
    .grid-main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "logo logo logo"
        "destacado destacado destacado"
        "video video video"
        ;
        .logo-meraki{
            grid-area: logo;
            img{
                width: 100%;
            }
        }
        .destacado{
            grid-area: destacado;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 5%;
            padding-top: 50px;
            padding-bottom: 40px;
            background-color: #ffffff;
            opacity: 0.8;
            .foto-destacada{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 30px 50px 50px 50px;
                img{
                    padding: 0 20px 0 20px;
                }
            }
            .texto-destacado{
                font-family: 'IBM Plex Sans', sans-serif;
                @include h1 (bold,large,center);
                padding-top: 10px;
                color: #14ab88;
                p{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                    padding-top: 10px;
                    color: black;
                    font-size: small;
                    span{
                        font-style: italic;
                        color: #f76331;
                        padding-top: 20px;
                    }
                }
                h6{
                    text-align: center;
                    padding-top: 5px;
                    color: #f76331;
                    font-size: small;
                    font-weight: bold;
                }
            }
        }
        .pinterest{
            grid-area: video;
            display: flex;
            flex-direction: column;
            .titulo-pint{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 26%;
                padding: 10px 10px 10px 25px;
                width: 45%;
                height: 30%;
                background: #40e0d0; /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #40e0d0, #ff8c00, #ff0080); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                opacity: 0.8;
                h3{
                    font-family: 'IBM Plex Sans', sans-serif;
                    color: black;
                    font-weight: bold;
                }
            }
            .video-index{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}


/*NOSOTROS*/
.container-nosotros{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 60px auto auto 80px;
    grid-template-areas: 
    "navBar navBar navBar"
    "main main main"
    "main main main"
    "footer footer footer"
    ;
    background-image: url(../img/Body/fondo-nos4.jpg);
    @include background (center,no-repeat,scroll,cover);
    .navBar{
        grid-area: navBar;
        nav{
            ul{
                li{
                    padding: 10px 10px;
                    a{
                        font-size: medium;
                    }
                }
            }
        }
    }
    .main-grid-dos{
        grid-area: main;
        font-family: 'IBM Plex Sans', sans-serif;
        .storytelling{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-top: 40px;
            margin-left: 10%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 40px;
            background-color: #ffffff;
            opacity: 0.8;
            h1{
                color: #3d1320;
                padding-bottom: 10px;
                font-size: 500;
            }
            p{
                text-align: justify;
                color: #5f1c30;
                font-size: 400;
            }
        }
        .nosotros-titulo{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-top: 40px;
            margin-left: 10%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 40px;
            background-color: #ffffff;
            opacity: 0.8;
            h2{
                color: #3d1320;
                padding-bottom: 10px;
            }
            p{
                text-align: justify;
                color: #5f1c30;
            }
        }
        .nosotros-img{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            p{
                text-align: justify;
                margin-right: 20px;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 25%;
            }
            .nosotros-img1{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin: 40px 0px 20px 0;
                padding: 30px 0px 20px 0;
                background-color: #ffffff;
                opacity: 0.8;
            }
            .nosotros-img2{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin: 20px 0px 20px 0;
                padding: 30px 0px 20px 0;
                background-color: #ffffff;
                opacity: 0.8;
            }
        }
    }
    .footer-grid-dos{
        grid-area: footer;
    }
}


/*GALERIA*/
.container-galeria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 60px auto auto auto auto auto auto 80px;
    grid-template-areas: 
    "navBar navBar navBar"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer"
    ;
    background-image: url(../img/Body/Background-galeria.jpg);
    @include background (center,no-repeat,scroll,cover);
    .navBar-gal{
        grid-area: navBar;
        nav{
            ul{
                li{
                    padding: 10px 10px;
                    a{
                        font-size: medium;
                    }
                }
            }
        }
    }
    .main-grid-tres{
        grid-area: main;
        .titulo-galeria{
            color: #8f1d17;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .img-galeria{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: 310px;
            gap: 10px;
            .img-2{
                grid-row: span 2;
            }
            .img-4{
                grid-row: span 2;
            }
            .img-7{
                grid-row: span 2;
            }
            .img-11{
                grid-row: span 2;
            }
            div img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .footer-grid-tres{
        grid-area: footer;
    }
}



/*SERVICIOS*/
.container-servicios{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px auto auto auto auto 80px;
    grid-template-areas: 
    "navBar navBar"
    "main main"
    "main main"
    "main main"
    "main main"
    "footer footer"
    ;
    background-image: url(../img/Body/banana.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: right;
    .navBar-serv{
        grid-area: navBar;
        nav{
            ul{
                li{
                    padding: 10px 10px;
                    a{
                        font-size: medium;
                    }
                }
            }
        }
    }
    .main-grid-cuatro{
        grid-area: main;
        align-items: center;
        .servicios{
            display: flex;
            flex-direction: column;
            text-align: justify;
            margin-left: 10px;
            color: #147566;
            width: 58%;
            font-family: 'IBM Plex Sans', sans-serif;
            h2{
                color: #147566;
                text-align: center;
                padding-top: 30px;
            }
            .area-servicios1{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                width: 110%;
                div{
                    background: #A1FFCE;
                    background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);
                    /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to left, #FAFFD1, #A1FFCE);
                    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
                    margin-left: 15px;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    border-radius: 15px;
                    p{
                        text-align: center;
                    }
                }
            }
            .area-servicios2{
                display: flex;
                flex-direction: column;
                margin-bottom: 10%;
                width: 110%;
                div{
                    background: #A1FFCE;  
                    background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left: 15px;
                    margin-top: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    border-radius: 15px;
                    p{
                        text-align: center;
                    }
                }
            }
        }
        .video-serv{
            width: 68%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .footer-grid-cuatro{
        grid-area: footer;
    }
}



/*CONTACTO*/
.container-contacto{
    background-image: url(../img/Body/fondo-index.jpg);
    @include background (center,no-repeat,scroll,cover);
    font-family: 'IBM Plex Sans', sans-serif;
    .nav-contacto{
        padding-top: 3%;
    }
    .container-main{
        display: flex;
        flex-direction: column;
        .main-titulo{
            color: #722039;
            display: flex;
            margin-top: 20px;
            margin-left: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .seccion-info{
            margin: 30px 50px 30px 50px;
            .form{
                div{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    label{
                        color: white;
                        font-size: 18px;
                        font-weight: bold;
                        i{
                            color: #efd61a;
                        }
                    }
                    input{
                        color: #074436;
                        border: solid 2px #074436;
                    }
                    select{
                        border: solid 2px #074436;
                    }
                }
                .btn-custome{
                    width: 70px;
                    height: 40px;
                    color: #074436;
                    font-weight: bold;
                    background: #75c4b1;
                    /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(to right, #75c4b1, #14ab88);
                    /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to right, #75c4b1, #14ab88);
                    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
                }
            }
        }
        .cnt-port{
            display: flex;
            justify-content: center;
            .portfolio{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 70px;
                margin-bottom: 50px;
                background: #14ab88; /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #14ab88, #efd61a); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #14ab88, #efd61a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                opacity: 0.9;
                h3{
                    padding-top: 15px;
                }
                a{
                    padding-left: 5%;
                    padding-top: 15px;
                    padding-bottom: 10px;
                }
        }
        }
}

}